[submodule "third_party/spirv-cross"]
	path = third_party/spirv-cross
	url = git@git.zhlh6.cn:KhronosGroup/SPIRV-Cross
[submodule "third_party/shaderc"]
	path = third_party/shaderc
	url = git@git.zhlh6.cn:google/shaderc.git
[submodule "third_party/glslang"]
	path = third_party/glslang
	url = git@git.zhlh6.cn:KhronosGroup/glslang.git
[submodule "third_party/spirv-tools"]
	path = third_party/spirv-tools
	url = git@git.zhlh6.cn:KhronosGroup/SPIRV-Tools
[submodule "third_party/spirv-headers"]
	path = third_party/spirv-headers
	url = git@git.zhlh6.cn:KhronosGroup/SPIRV-Headers
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = git@git.zhlh6.cn:glfw/glfw
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = git@git.zhlh6.cn:miloyip/rapidjson
[submodule "third_party/stb/stb"]
	path = third_party/stb/stb
	url = git@git.zhlh6.cn:nothings/stb
[submodule "third_party/astc-encoder"]
	path = third_party/astc-encoder
	url = git@git.zhlh6.cn:Themaister/astc-encoder
[submodule "third_party/fossilize"]
	path = third_party/fossilize
	url = git@git.zhlh6.cn:ValveSoftware/Fossilize
[submodule "third_party/volk"]
	path = third_party/volk
	url = git@git.zhlh6.cn:zeux/volk
[submodule "third_party/meshoptimizer"]
	path = third_party/meshoptimizer
	url = git@git.zhlh6.cn:Themaister/meshoptimizer
[submodule "third_party/muFFT"]
	path = third_party/muFFT
	url = git@git.zhlh6.cn:Themaister/muFFT
[submodule "third_party/oboe"]
	path = third_party/oboe
	url = git@git.zhlh6.cn:google/oboe
[submodule "third_party/khronos/vulkan-headers"]
	path = third_party/khronos/vulkan-headers
	url = git@git.zhlh6.cn:KhronosGroup/Vulkan-Headers
